#error-wrapper{
    
    width: 90%;
    position: relative;
    margin: auto 0;
    left:5%;
    top: 18%;
    
}

#error-num{
    
    font-size: 25em;
    color: #555;
    text-shadow: 3px 3px grey;
    margin-top: 10px;
    margin-bottom: 10px;
}


#error-text > b{

    color: #222;
    font-size: 5em;
    
}

#error-text > em{

    color: #555;
    font-size: 2em;
    
}