#user-info{
    
    width: 20%;
    height: 600px;
    margin-top: 25px;
    border: 1px solid black;
    box-shadow: 1px 2px 2px black;
    display: inline-block;
    float: left;
    
}

#user-name{
    
    width: 100%;
    height: 10%;
    color: white;
    background: #944;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#user-pic{
    
    width: 100%;
    height: 50%;
    background: grey;
    
}

#user-data{
    
    width: 100%;
    height: 40%;
    background: #eeb;
    text-align: center;
    color: black;
    
}


#profile-pic {
    
    width: 100%;
    height: 100%;
    
}

#my-flights-container {
    
    width: 70%;
    height: 600px;
    margin-top: 25px;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    float: left;

}


/* flight info */

div.flight {
    
    width: 90%;
    height: 60px;
    background: grey;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px auto 5px auto;
    
}

div.f-preview {
    
    width: 10%;
    height: 100%;
    background: red;
    display: inline-block;
    float: left;
    
}

div.f-info {
    
    width: 80%;
    height: 100%;
    background: blue;
    display: inline-block;
    float: left;
    text-align: center;
    
}

div.f-price {
    
    width: 10%;
    height: 100%;
    background: yellow;
    display: inline-block;
    float: left;
    text-align: center;
    
}

img.flight-preview {
    
    width: 50px;
    height: 90%;
    margin-left: 3%;
    display: inline-block;
}

h4.flight-info {
    
    display: inline-block;
    line-height: 60px;
    
}

h3.flight-price {
    
    display: inline-block;
    line-height: 60px;
    
}