.searcher {
    
    width: 90%;
    height: 50px;
    margin-top: 25px;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    float: left;
    align-items: center;
    
}

.search-button {
    
    width: 30px;
    height: 30px;
    float: left;
    background-image: url(../imgs/search.png);
    background-size: cover;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #5a5;
    float: left;
}

.in-block {
    
    display: inline-block;
    float: left;
    
}

input[type="search"] {
    
    margin-left: 5%;
    
}

#my-flights-container {
    
    width: 90%;
    height: 1000px;
    margin-top: 25px;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    float: left;

}


/* flight info */

div.flight {
    
    width: 90%;
    height: 60px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 20px auto 20px auto;
    
}

div.f-preview {
    
    width: 12%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    background: #000000;
    
}

div.f-info {
    
    width: 80%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    
}

div.f-price {
    
    width: 7%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.flight-preview {
    
    width: 50%;
    height: 100%;
    display: inline-block;
    background: #000000;
}

.grey {
    
    color: grey;
    
}

.centered {
    
    margin-left: 35%;
    margin-top: 25%;
}

a {
    text-decoration: none;
    color: black;
}

.searcher-wrapper {
    width: 200px;
}

.search-input {
    float: left;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.search-input:focus {
    float: left;
    height: 30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: azure;
}

.country-info-container {
    width: 90%;
    height: 20px;
    margin-top: 25px;
    margin-left: 5%;
    margin-bottom: 4px;
    border-radius: 2px;
    display: flex;
    float: left;
    align-items: baseline;
}

.flight-country-info {
    display: inline;
    color: gray;
    font-size: 20px;
    font-weight: bold;
}

#city-filter-button {
    margin-left: -35px;
}

.spacer {
    height: 1px;
    width: 50%
}